body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.dashboard {
  display: flex;
  flex-direction: row; /* 横並びにする */
  flex-wrap: wrap; /* コンポーネントが画面からはみ出した場合に折り返す */
  padding: 20px;
  height: 100vh; /* 高さを100vhに設定 */
  background-color: #f5f5f5;
}

/* グラフの設定 */
.temperature-graph {
  width: 100%;
  height: 80%;
}

/* 温度表示のスタイル */
.temperature-display {
  text-align: center;
  padding: 20px;
  border-radius: 15px;
}

.temperature-display h2 {
  font-size: 1.5rem;
  margin-bottom: 0px;
  color: #333;  /* 見出しを落ち着いた色に */
}

.temperature {
  font-size: 3rem;
  font-weight: bold;
  color: #ff6347;  /* 温度表示をオレンジレッドで強調 */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);  /* さりげない影で立体感を */
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;  /* 温度表示自体の背景を薄いグレーに */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);  /* 内側にシャドウでくぼみ効果 */
  display: inline-block;
}

/* ダッシュボードの配置設定（グラフ） */
.graph-container {
  width: 50%;  /* 幅を画面の50%に設定 */
  height: 50%; /* 高さを画面の50%に設定 */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box; /* パディングを含む */
  margin: 10px; /* マージンを追加してスペースを確保 */
}

/* ダッシュボードの配置設定（温度表示） */
.display-container {
  width: 40%;  /* 幅を画面の50%に設定 */
  height: 25%; /* 高さを画面の50%に設定 */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box; /* パディングを含む */
  margin: 10px; /* マージンを追加してスペースを確保 */
}

h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: #333;
}

.data-btn {
  background-color: #4bc0c0; /* ボタンの背景色 */
  color: #fff; /* ボタンの文字色 */
  border: none; /* ボーダーなし */
  border-radius: 5px; /* 角を丸くする */
  padding: 10px 20px; /* 上下10px、左右20pxのパディング */
  font-size: 1em; /* フォントサイズ */
  cursor: pointer; /* カーソルをポインターに変更 */
  transition: background-color 0.3s ease; /* ホバー時の色変更にトランジション */
  margin-top: 5vh;
}

.data-btn:hover {
  background-color: #0056b3; /* ホバー時の背景色 */
}

.data-btn:focus {
  outline: none; /* フォーカス時のアウトラインを削除 */
}

/* スマートフォン表示用のスタイル */
@media (max-width: 768px) {
  .dashboard {
    flex-direction: column; /* 縦に並べる */
    height: auto; /* 高さを自動調整 */
  }

  .graph-container {
    width: 100%; /* 幅を100%に設定 */
    height: 80vh; /* 高さを自動調整 */
  }

  .temperature-graph {
    height: 90%;
  }

  .data-btn {
    margin-top: 3vh;
  }

}
